snippet for1 "for int loop (for)"
for (int ${1:i} = 0; $1 < ${2:n}; $1++) {
	${3}
}
endsnippet

snippet sec "section divider comment"
// ==============================================================================
// ${1:Section Title}
// ==============================================================================
${0}
endsnippet
